/* CSS files add styling rules to your content */
body {
  margin: 0cm;
}

.cover {
  height:480px;
  background-image:url(https://cdn.glitch.global/fc70fe01-09d6-457c-8944-c9bc568ee60d/Sin%20t%C3%ADtulo3.jpg?v=1676525676922);
  color:white;
  background-size: cover;
  background-position: center
}

.card-title {
  min-height:2.5rem
}

.card-text{
  min-height:10rem
}

.carousel-item {
  position: relative;
  display: none;
  float: left;
  width: 100%;
  margin-right: -100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: webkit-transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
}

.carousel-caption {
  position: absolute; 
    right: 15%;
    top: 150px; /* Cambiar bottom por top y los píxeles que necesites */
    left: 15%;
    z-index: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
    text-align: center;
    background-color: dark;
  right: 15%;
  bottom: 20px;
  text-align: center;
}

